<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- refers to https://logging.apache.org/log4j/2.x/manual/layouts.html -->
            <PatternLayout pattern="[%d{yy-MM-dd'T'HH:mm:ss.SSS}] [%t]\t%p %c{2}.%M[%L]:\t%msg%n\n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="springfox" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>